body {
  font-family: 'Apple SD Gothic Neo', 'Roboto', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
  -webkit-overflow-scrolling: touch;
  color: #555;
  background: #fff000;

  /* 스크롤할 양을 만들기 위해 높이를 줌 */
  height: 500vw;
}
.world {
  /* 3d 공간으로 만듦 */
  perspective: 1000px;
  /* 스크롤을 내려도 위치가 그대로임 */
  position: fixed;

  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* 중간에 껴있는애가 자식한테 부모의 3d를 전파 */
  /* ie 지원 x */
  transform-style: preserve-3d;
}
.house {
  transform-style: preserve-3d;
  width: 100vw;
  height: 100vh;
  transform: translateZ(-490vw);
}
.wall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
}
.wall-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wall-title {
  font-size: 5rem;
}
.wall-left {
  /* 1000vw의 절반만큼 이동해야 .wall-front에 딱 붙는 벽이 완성 */
  /* left: -500vw; */
  width: 1000vw;
  /* transform: rotateY(90deg); */
  transform: rotateY(90deg) translateZ(-500vw);

  background: #f8f8f8;
}
.wall-right {
  /* left: -400vw; */
  width: 1000vw;

  /* .wall-left와 동일한 위치에서 얘기준 z축으로 100vw만큼 이동시키면 완성  */
  left: -500vw;
  transform: rotateY(90deg) translateZ(100vw);

  background: #f8f8f8;
}
.wall-front {
  
}
.wall-front-a { transform: translateZ(300vw); }
.wall-front-b { transform: translateZ(50vw); }
.wall-front-c { transform: translateZ(-200vw); }
.wall-front-d { transform: translateZ(-500vw); }


.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7px;
  background-color: #000;
  z-index: 10;
}
.progress-bar {
  width: 0;
  height: 100%;
  background-color: rgb(0, 204, 255);
}

/* character */
.character {
  position: absolute;
  left: 12%;
  bottom: 5%;
  /* 캐릭터의 가로세로 비율은 유지되며 크기만 커지거나 작아진다 */
  /* 그렇게 하려면 단위를 동일하게 해야함 */
  width: 10vw;
  height: 15.58vw;
  transform-style: preserve-3d;
}
.character[data-direction='forward'] { transform: rotateY(180deg); }
.character[data-direction='backward'] { transform: rotateY(0deg); }
.character[data-direction='left'] { transform: rotateY(-90deg); }
.character[data-direction='right'] { transform: rotateY(90deg); }
.character-face-con {
  position: absolute;
  transform-style: preserve-3d;
  transition: 1s;
}
.character-face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.character-face.face-back {
  transform: rotateY(180deg);
}
.character-head {
  /* 856은 일분이 전체 이미지의 너비   */
  /* 42는 일분이 전체 이미지에서 왼쪽모서리부터 얼굴 왼쪽까지의 길이 */
  left: calc(42 / 856 * 100%);
  top: 0;
  z-index: 60;
  width: calc(770 / 856 * 100%);
  height: calc(648 / 1334 * 100%);
  transform-origin: center bottom;
  animation: ani-head 0.6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93);
}

.character-head-face.face-front { background-image: url('images/ilbuni_head_front.png'); }
.character-head-face.face-back { background-image: url('images/ilbuni_head_back.png'); }
.character-torso {
  left: calc(208 / 856 * 100%);
  top: calc(647 / 1334 * 100%);
  z-index: 50;
  width: calc(428 / 856 * 100%);
  height: calc(385 / 1334 * 100%);
  transform-origin: center center;
}
.character-torso-face.face-front { background-image: url('images/ilbuni_body_front.png'); }
.character-torso-face.face-back { background-image: url('images/ilbuni_body_back.png'); }
.character-arm-right {
  left: 0;
  top: calc(648 / 1334 * 100%);
  width: calc(244 / 856 * 100%);
  height: calc(307 / 1334 * 100%);
  transform-origin: right top;
}
.character-arm-right .face-front { background-image: url('images/ilbuni_arm_0.png'); }
.character-arm-right .face-back { background-image: url('images/ilbuni_arm_1.png'); }
.character-arm-left {
  left: calc(600 / 856 * 100%);
  top: calc(648 / 1334 * 100%);
  width: calc(244 / 856 * 100%);
  height: calc(307 / 1334 * 100%);
  transform-origin: left top;
}
.character-arm-left .face-front { background-image: url('images/ilbuni_arm_1.png'); }
.character-arm-left .face-back { background-image: url('images/ilbuni_arm_0.png'); }
.character-leg-right {
  left: calc(200 / 856 * 100%);
  top: calc(1031 / 1334 * 100%);
  width: calc(230 /  856 * 100%);
  height: calc(300 / 1334 * 100%);
  transform-origin: center top;
}
.character-leg-right .face-front { background-image: url('images/ilbuni_leg_0.png'); }
.character-leg-right .face-back { background-image: url('images/ilbuni_leg_1.png'); }
.character-leg-left {
  left: calc(414 / 856 * 100%);
  top: calc(1031 / 1334 * 100%);
  width: calc(230 /  856 * 100%);
  height: calc(300 / 1334 * 100%);
  transform-origin: center top;
}
.character-leg-left .face-front { background-image: url('images/ilbuni_leg_1.png'); }
.character-leg-left .face-back { background-image: url('images/ilbuni_leg_0.png'); }

/* animation */
@keyframes ani-head {
  to {
    transform: rotateX(10deg);
  }
}